{% extends "pages/base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact me</h1>

<div class="row">
  <div class="">
    <ul>
      <li>Email: rwilliams2578@mail.kvcc.edu </li>
      <li>Github: Revelle Williams</li>
      <li>LinkedIn: Revelle Williams </li>
    </ul>
  </div>
</div>
<div class="row">
  <form>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <textarea class="form-control" id="message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div>
{% endblock %}