{% extends "pages/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome To My personal Portfolio Site</h1>
<p>
  I am a Motivated Computer Science student with practical experience in Python, HTML, and web development.
</p>
<p>
  I seek to leverage my programming skills and proactive approach to contribute to successful projects and gain expertise in modern web technologies.
</p>

<h3>Education</h3>

<p>I am a Bachelor of Science in Computer Science</p>

<p>At Kalamazoo Valley Community College, [ Kalamazoo, MI]</p>

<p>Expected Graduation: [08, 2025]</p>

<p class="display-6">Relevant Coursework:
  <ul>
    <li>Python </li>
    <li>Programming</li>
    <li>Web Development</li>
    <li>Data Structures</li>
  </ul> </p>



<h3>Technical Skills</h3>
<ul>
<li>Languages: Python, HTML, CSS, JavaScript</li>

<li>Frameworks/Tools: Bootstrap, Git</li>

<li>Platforms: Windows, Linux</li>
</ul>
{% endblock %}