{% extends "pages/base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>My Projects</h1>

<div class="row">
  <div class="col-md-6 mb-4">
    <h3>Responsive Portfolio Project</h3>
    <p>
      Designed and implemented a personal portfolio website using HTML, CSS, and JavaScript to showcase my programming projects and academic achievements.
    </p>
    <p>Technologies Used:</p>
    <ul>
      <li>Python</li>
      <li>Django</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Bootstrap</li>
  </div>
  <div class="col-md-6 mb-4">
    <h3>Basic Calculator Program</h3>
    <p>A Basic Calculator Program</p>
    <p>Technologies Used:</p>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
  </div>
  <div class="col-md-6 mb-4">
    <h3>Automated Tuition Management System</h3>
    <p>Automated Tuition Management System</p>
    <p>Technologies Used:</p>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
  </div>
  <div class="col-md-6 mb-4">
    <h3>Number Guessing Game</h3>
    <p>Number Guessing Game</p>
    <p>Technologies Used:</p>
    <ul>
      <li>Python</li>
  </div>
  <div class="col-md-6 mb-4">
    <h3>Random Password Generator</h3>
    <p>Random Password Generator</p>
    <p>Technologies Used:</p>
    <ul>
      <li>Python</li>
  </div>
  <div class="col-md-6 mb-4">
    <h3>Rock-Paper-Scissorsr</h3>
    <p>Rock-Paper-Scissors</p>
    <p>Technologies Used:</p>
    <ul>
      <li>Python</li>
  </div>
  <div class="col-md-6 mb-4">
    <h3>Rock-Paper-Scissors</h3>
    <p>Rock-Paper-Scissors</p>
    <p>Technologies Used:</p>
    <ul>
      <li>Python</li>
  </div>
  <div class="col-md-6 mb-4">
    <h3>File Manipulation & Detail Cal</h3>
    <p>File Manipulation & Detail Cal</p>
    <p>Technologies Used:</p>
    <ul>
      <li>Python</li>
  </div>
  <div class="col-md-6 mb-4">
    <h3>Working with Dates</h3>
    <p>Working with Dates</p>
    <p>Technologies Used:</p>
    <ul>
      <li>Python</li>
  </div>
  <div class="col-md-6 mb-4">
    <h3>Tic-Tac-Toe Game</h3>
    <p>Tic-Tac-Toe Game</p>
    <p>Technologies Used:</p>
    <ul>
      <li>Python</li>
  </div>
  <div class="col-md-6 mb-4">
    <h3>Simple JavaScrip</h3>
    <p>Simple JavaScrip</p>
    <p>Technologies Used:</p>
    <ul>
      <li>JavaScrip</li>
  </div>
  <div class="col-md-6 mb-4">
    <h3>Entire Site</h3>
    <p>Entire Site</p>
    <p>Technologies Used:</p>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
  </div>
  <div class="col-md-6 mb-4">
    <h3>Registration Form</h3>
    <p>Registration Form</p>
    <p>Technologies Used:</p>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScrip</li>
  </div>
</div>
{% endblock %}